/* 
==========================================================================
	 General
========================================================================== 
*/

#home {
    /* position: relative; */
}


/* 
==========================================================================
	 banner
========================================================================== 
*/

.banner {
    padding: 0;
    margin: 0;
    min-width: 100%;
}

.banner-jumbotron {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    content: "";
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right bottom;
    background-attachment: scroll;
    height: 90vh;
    text-align: end;
    color: #fff;
}

.banner-jumbotron::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    background: rgba(0, 0, 0, .35);
    min-height: 90vh;
}

.banner div {
    z-index: 2;
}

.banner div h1,
.banner div h4,
.banner div p {
    color: #fff;
}

.banner .banner_button {
    background: #355e3b;
    border-color: #355e3b;
}

.banner .banner_button:hover,
.banner .banner_button:active,
.banner .banner_button:focus,
.banner .banner_button:checked {
    background: #00a86b !important;
    border-color: #355e3b !important;
}


/* 
==========================================================================
	 Values
========================================================================== 
*/

#values {
    color: #fff
}

.values,
.values div {
    padding: 0
}

.values .header h2 {
    color: #323232;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.values .header hr {
    color: #323232;
    width: 50px;
    border: 1px solid #323232;
}

.values-content_items {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.values-content_items img {
    width: 100%;
    height: 360px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.values-content_items .values-content_items_bottom {
    align-self: flex-start;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    /* background-color: rgba( 53, 94, 59, .15); */
    background-color: rgba( 193, 224, 193, 1);
}

.values-content_items .values-content_items_bottom div:not(:first-child) {
    color: #323232;
    font-weight: 400;
}

.values-content_items_bottom .number {
    position: absolute;
    top: 35%;
    left: 45%;
    font-size: 64px;
    font-weight: 700;
    color: #fff
}

.values-content_items_bottom .title {
    font-size: 22px;
}

.values-content_items_bottom .text {
    font-size: 16px;
}


/* 
==========================================================================
	 Product
========================================================================== 
*/

#products {
    margin-top: 30px;
}

.products .header h2 {
    color: #323232;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.products .header hr {
    color: #323232;
    width: 50px;
    border: 1px solid #323232;
}


/* 
==========================================================================
	 Benefits
========================================================================== 
*/

#benefits {
    color: #fff;
    margin: 20px 0 0;
}

.benefits div {
    padding: 0
}

.benefits .header h2 {
    color: #323232;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.benefits .header hr {
    color: #323232;
    width: 50px;
    border: 1px solid #323232;
}

#benefits .values-content_items {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    background-color: rgba( 193, 224, 193, 1);
    padding-top: 20px;
    margin-bottom: 0px;
}

#benefits .benefits-content .values-content_items img {
    width: 20%;
    height: 20%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    margin: 0 auto;
}

#benefits .benefits-content .values-content_items_bottom {
    align-self: flex-start;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    background-color: transparent;
}

#benefits .title {
    font-weight: 500;
    font-size: 18px;
    margin: -10px 0 20px;
}

#benefits .text {
    font-weight: 400;
    font-size: 14px;
}


/* 
==========================================================================
	 Benefits
========================================================================== 
*/

#team {
    color: #323232;
    margin: 20px 0;
    text-align: center;
}

.team div {
    padding: 0
}

.team .header h2 {
    color: #323232;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.team .header hr {
    color: #323232;
    width: 50px;
    border: 1px solid #323232;
}

.team .team-content {
    display: flex;
    justify-content: center;
}

.team .team-content .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;
    margin: 30px 0;
}

.team .team-content .team-img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    align-self: center;
    margin-bottom: 10px;
}

.team .team-content h2 {
    font-size: 24px;
    font-weight: 500;
}

.team .team-content .team-text {
    font-size: 12px;
    font-weight: 400;
}


/* 
==========================================================================
	 Testimony
========================================================================== 
*/

#testimonies {
    color: #323232;
    margin: 20px 0 0;
    padding: 20px 0;
    text-align: center;
    background-color: rgba( 193, 224, 193, 1);
    position: relative;
}

.testimonies .vertical-line {
    display: none;
    border-left: 1px solid rgba( 193, 224, 193, 1);
    height: 60%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 25%;
}

.testimonies hr {
    border-color: rgba(50, 50, 50, .5);
    width: 60%;
}

.testimonies .testimony {
    margin-top: 15px;
    padding: 0 20px;
}

.testimonies p {
    color: #323232;
    font-weight: 300;
    font-size: 24px;
}

.testimonies .author {
    font-weight: 300;
    font-size: 14px;
}

.testimonies .date {
    font-weight: 300;
    font-size: 18px;
}


/* 
==========================================================================
	 Scroll
========================================================================== 
*/

#scroll {
    display: flex;
    position: fixed;
    top: 70vh;
    right: 10%;
    width: 45px;
    height: 45px;
    background: #00a86b;
    color: #fff;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    /* Add a mouse pointer on hover */
    opacity: 0;
    transition: .3s;
    transition-timing-function: ease-in;
    transform: translateX(50px)
}

#scroll:hover {
    background: #00f098;
}

#scroll i {
    font-size: 30px;
    margin: 10px auto 0;
    align-self: center;
}